// home.component.scss
/* Import the Angular Material theme */
@use '@angular/material' as mat;

mat-toolbar {
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: var(--mat-sys-inverse-surface);
  color: var(--mat-sys-inverse-on-surface);
}

.spacer {
  flex: 1 1 auto;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

section {
  padding: 60px 20px;
}

.two-col {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 32px;
}

.two-row {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 32px;

  & > :last-child {
    text-align: right;
  }
}

.content {
  margin: 0 auto;
  max-width: 1200px;
  height: inherit;
}

.copy {
  height: inherit;
}

.hero-section {
  background-color: var(--mat-sys-surface-container);
  background-image: url('/llama.svg');
  background-size: 50px;
  background-repeat: repeat;
  height: calc(100vh - 64px - 120px); // full screen - toolbar - padding
}

.how-it-works-section, .founders-story-section {
  background-color: var(--mat-sys-surface-container);
}

.space-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

form {
  display: inline-flex;
  align-items: end;

  button {
    margin-left: 12px;
  }

  mat-form-field {
    width: 100%;
  }
}

$dot-width: 10px;
$dot-color: var(--mat-sys-primary-text);
$speed: 1.5s;

.typing {
  position: absolute;
  top: 0;
  left: 70px;

  span {
    content: '';
    animation: blink $speed infinite;
    animation-fill-mode: both;
    height: $dot-width;
    width: $dot-width;
    background: $dot-color;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;

    &:nth-child(2) {
      animation-delay: .2s;
      margin-left: $dot-width * 1.5;
    }

    &:nth-child(3) {
      animation-delay: .4s;
      margin-left: $dot-width * 3;
    }
  }
}

@keyframes blink {
  0% {
    opacity: .1;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .1;
  }
}

.messages-area {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 12px;
  overflow: auto;
  margin-bottom: 12px;
}

.messages-area .user,
.messages-area .agent {
  display: flex;
  align-items: center;
  position: relative;
}

.messages-area .user {
  justify-content: flex-end;
  text-align: right;
}

.messages-area .agent {
  justify-content: flex-start;
  text-align: left;
}

.messages-area .user img,
.messages-area .agent img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 10px;
}

.messages-area span {
  display: block;
  max-width: 70%;
  padding: 10px;
  border-radius: 10px;
}

.message-wrapper {
  display: ruby;
}

.agent > .user-profile {
  display: none;
}

.user > .agent-profile {
  display: none;
}

.agent-profile, .user-profile {
  margin-bottom: auto !important;
}

.doctor-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 16px;
}

.doctor-card {
  flex: 1 1 200px;
  max-width: 200px;
  cursor: pointer;
}

.user span {
  background-color: var(--mat-sys-primary-container);
  @include mat.elevation(1);
}

.agent span {
  background-color: var(--mat-sys-secondary-container);
  @include mat.elevation(1);
}

.stars {
  color: var(--mat-sys-secondary);
}

.hero-image {
  display: flex;
  justify-content: end;

  img {
    width: 100%;
    @include mat.elevation(2);
  }
}

.error {
  color: var(--mat-sys-error);
}

.secondary {
  color: var(--mat-sys-secondary);
}

.founders-story-section {
  text-align: right;
}

$profile-size: 130px;

.story-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  align-items: center;
  margin: 32px 0;
  max-width: 1000px;
  margin-left: auto;
}

.story-wrapper p {
  flex: 1 1 300px;
}

.profile {
  flex: 0 0 auto;
  width: $profile-size;
  height: $profile-size;
  border-radius: 50%;
  border: var(--mat-sys-outline) solid 1px;
  margin-left: auto;
}

.steps, .features, .testimonials {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 0 16px;
}

.step-card {
  flex: 1 1 30%;
  margin: 16px 0;
}

.feature-card {
  flex: 1 1 45%;
  margin: 16px 0;
}

.feature-card, .testimonial-card {
  mat-icon {
    margin-bottom: 32px;
  }
}

.testimonial-card {
  flex: 1 1 45%;
  margin: 16px 0;
  text-align: center;
}

.justify-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#social-logins {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.final-cta-section {
  text-align: center;
}

section button {
  margin-top: 24px;
}

footer {
  background-color: var(--mat-sys-inverse-surface);
  color: var(--mat-sys-inverse-on-surface);
  padding: 32px 0;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .hero-image {
    display: none;
  }
}
